<template>
  <q-page style="background-color:#336B87">
    <!-- Step back button -->
    <q-page-sticky position="top-left" :offset="[18, 18]" v-show="navCursor -1 >= 0">
      <q-btn round color="tertiary" @click="stepBack" icon="chevron_left" />
    </q-page-sticky>
    <!-- Step forward button -->
    <q-page-sticky position="top-right" :offset="[18, 18]" v-show="navCursor + 1 < navHistory.length">
      <q-btn round color="tertiary" @click="stepForward" icon="chevron_right" />
    </q-page-sticky>
    <!-- Selected node bar -->
    <div class="row no-wrap" :style="{width: '100vw', height: referenceRowHeight}" ref="referenceRow">
      <q-card square class="col uppercase text-center bg-primary" style="height:inherit">
        <q-card-title class="text-white" style="text-decoration:underline;">{{selectedNode.name}}</q-card-title>
      </q-card>
    </div>
    <!-- Card and tile components -->
    <div v-show="searchHasFocus === false && config.cardLabels.hasOwnProperty(selectedNode.label) === false">
      <div class="row no-wrap bg-secondary" style="height:20vh">
        <!-- Card component, number of cards per page is configurable -->
        <adn-card-slider :slide-cards="getChildNodeCards" :max-cards-per-slide="config.numberOfCardsPerPage"></adn-card-slider>
      </div>
      <div class="row no-wrap bg-primary shadow-up-1" style="height:60vh">
        <!-- Tile component -->
        <adn-tile-slider ref="tileSlider" :slide-tiles="getChildNodeTiles"></adn-tile-slider>
      </div>
    </div> <!-- TODO Create card component -->
    <div v-if="searchHasFocus === false && config.cardLabels.hasOwnProperty(selectedNode.label) === true"
       class="row no-wrap" style="height:80vh; background-color:white"
    >
    <!-- Card info page -->
      <q-scroll-area>
        <div class="row">
          <div class="q-pa-sm">
            <span>{{selectedNode.description}}</span>
          </div>
        </div>
        <div class="row">
          <q-tree
            :nodes="cardOutEdgesTree"
            node-key="label"
            default-expand-all
          />
        </div>
      </q-scroll-area>
    </div>
    <!-- Footer menu -->
    <div class="row fixed-bottom" style="max-height:20vh">
      <!-- Search bar -->
      <adn-search-bar :referenceHeight="referenceRowHeight">
      </adn-search-bar>
      <div class="row items-center" :style="{width: '100vw', height: referenceRowHeight}">
        <div class="col" style="text-align:center;">
          <q-btn color="black" round icon="search" @click="focusSearch()"/>
          </div>
        <!-- Main menu -->
        <div class="col" style="text-align:center;">
          <q-fab
            color="tertiary"
            icon="keyboard_arrow_up"
            direction="up"
          >
            <q-fab-action
              color="primary"
              icon="home"
            />

            <q-fab-action
              color="secondary"
              icon="star"
            />
          </q-fab>
        </div>
        <!-- Action button -->
        <div class="col" style="text-align:center;">
          <q-btn class="vertical-middle" color="black" round icon="flip_to_back"/>
          </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapState, mapMutations, mapActions, mapGetters } from 'vuex'
import ADNCardSlider from '../components/ADNCardSlider.vue'
import ADNTileSlider from '../components/ADNTileSlider.vue'
import ADNSearchBar from '../components/ADNSearchBar.vue'
import { graph } from '../store/graph.js'

export default {
  name: 'Navigator',
  components: {
    'adn-card-slider': ADNCardSlider,
    'adn-tile-slider': ADNTileSlider,
    'adn-search-bar': ADNSearchBar
  },
  data: function () {
    return {
      referenceRowHeight: '10vh',
      searchBar: {
        searchInFocusBool: false
      }
    }
  },
  computed: {
    ...mapGetters([
      'getGraph',
      'getNodesByLabel',
      'getChildNodeTiles',
      'getChildNodeCards'
    ]),
    ...mapState({
      config: state => state.config,
      selectedNode: state => state.selectedNode,
      graph: state => state.graph,
      searchHasFocus: state => state.searchInFocus,
      navCursor: state => state.navData.navCursor,
      navHistory: state => state.navData.navHistory
    }),
    /**
     * This method aggregate all out edges from a card in a tree structure
     */
    cardOutEdgesTree: function () {
      let retval = [],
        selectedNodeId = this.selectedNode === Object(this.selectedNode) &&
        this.selectedNode.hasOwnProperty('id') ? this.selectedNode.id : null,
        outEdges = selectedNodeId && typeof this.graph.outNeighborsIndex === 'object'
          ? this.graph.outNeighborsIndex[selectedNodeId] : []

      for (let e in outEdges) {
        let edge = this.graph.edgesIndex[this.selectedNode.id + ':' + e],
          targetNode = this.graph.nodesIndex[edge.target]

        for (let l in retval) {
          if (retval[l].hasOwnProperty('label') && retval[l].label === edge.label) {
            retval[l].children.push({label: targetNode.label + ' : ' + targetNode.name})
          } else {
            retval.push({
              label: edge.label,
              children: [
                {label: targetNode.label + ' : ' + targetNode.name}
              ]
            })
          }
        }

        if (retval.length <= 0) {
          retval.push({
            label: edge.label,
            children: [
              {label: targetNode.label + ' : ' + targetNode.name}
            ]
          })
        }
      }
      return retval
    }
  },
  methods: {
    ...mapMutations([
      'SET_ROOT_NODE',
      'SET_SELECTED_NODE',
      'SET_NAV_CURSOR'
    ]),
    ...mapActions([
      'addNode',
      'addEdge'
    ]),
    /**
     * Emit a search to the search bar component
     */
    focusSearch () {
      this.$root.$emit('focus-search')
    },
    /**
     * Method to step back in history
     */
    stepBack () {
      let backNavigation = this.navCursor - 1
      this.SET_NAV_CURSOR(backNavigation)
      this.SET_SELECTED_NODE(this.navHistory[backNavigation])
    },
    /**
     * Method to step forward in history
     */
    stepForward () {
      let forwardNavigation = this.navCursor + 1
      this.SET_NAV_CURSOR(forwardNavigation)
      this.SET_SELECTED_NODE(this.navHistory[forwardNavigation])
    }
  },
  mounted: function () {
    // Add all nodes and edges from graph structure
    for (let n of graph.nodes) {
      this.addNode(n)
    }
    for (let e of graph.edges) {
      this.addEdge(e)
    }
    this.SET_ROOT_NODE(this.config.rootNodeId)

    // Set reference row height in px,
    // the reference row is used for holding pixel value instead of view height value
    if (this.$refs.referenceRow === Object(this.$refs.referenceRow) &&
         typeof this.$refs.referenceRow.offsetHeight === 'number') {
      this.referenceRowHeight = this.$refs.referenceRow.offsetHeight + 'px'
    }
  }
}
</script>

<style>
</style>
