<template>
  <q-carousel class="text-white" arrows>
      <q-carousel-slide style="width: 100vw" v-for="(slides, index) in computeSlideCards" :key="index">
        <div class="row" style="height: 20vh">
          <q-card class="col" v-for="(card, cardIndex) in slides" :key="cardIndex" square>
          <q-card-title>{{card.name}}</q-card-title>
          <q-popover style="max-height:60vh; min-width:100vw" ref="popover" @show="showCardPopover">
            <div style="max-height: 60vh">
              <q-card class="cover">
                <div class="row items-center">
                  <div class="col-10">
                    <q-card-title>{{card.name}}</q-card-title>
                  </div>
                  <!-- Add to favourites -->
                  <div class="col-2">
                    <q-checkbox
                      v-model="checked"
                      unchecked-icon="star border"
                      checked-icon="star"
                      indeterminate-icon="star border"
                    />
                  </div>
                </div>
                <q-card-main>
                  {{card.description}}
                </q-card-main>
                <q-card-actions>
                  <q-btn flat label="More Info" @click="openCardInfo(card.id)" />
                  <q-btn flat label="Website" @click="openCardWebsite(card.link)" />
                </q-card-actions>
              </q-card>
            </div>
          </q-popover>
          </q-card>
        </div>
      </q-carousel-slide>
  </q-carousel>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'adn-card-slider',
  props: {
    maxCardsPerSlide: {
      type: Number,
      default: 3
    },
    slideCards: Array
  },
  data () {
    return {
      focusedCardId: '',
      checked: false
    }
  },
  computed: {
    computeSlideCards: function () {
      let retval = {},
        numSlideCards = this.slideCards ? this.slideCards.length : 0,
        numSlides = Math.ceil(numSlideCards / this.maxCardsPerSlide)

      if (numSlides > 0) {
        for (let idx = 1; idx <= numSlides; idx++) {
          retval[idx] = []
          for (let i = this.maxCardsPerSlide; i > 0; i--) {
            let cardIndex = (idx * this.maxCardsPerSlide) - i
            if (this.slideCards[cardIndex]) {
              retval[idx].push(this.slideCards[cardIndex])
            }
          }
        }
      }
      return retval
    }
  },
  methods: {
    ...mapActions([
      'setSelectedNode'
    ]),
    openCardWebsite (link) {
      window.open(link, '_blank')
    },
    openCardInfo (nodeId) {
      this.setSelectedNode(nodeId)
    },
    showCardPopover (event) {
      if (this.$refs.popover === Object(this.$refs.popover)) {
        this.$nextTick(function () {
          for (let p in this.$refs.popover) {
            this.$refs.popover[p].$el.style.left = 0
          }
        })
      }
    }
  }
}
</script>

<style>
</style>
