<template>
  <div class="row" v-show="searchHasFocus === true">
        <q-search
          ref="search"
          color="white"
          inverted-light
          :style="{width: '100vw', height: refHeight}"
          v-model="terms"
          @blur="searchInFocus(false)"
        >
          <q-autocomplete :static-data="searchData" @selected="selectedSearch" />
        </q-search>
      </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'

export default {
  name: 'adn-search-bar',
  data () {
    return {
      terms: ''
    }
  },
  props: {
    referenceHeight: {
      type: String
    }
  },
  computed: {
    ...mapState({
      searchData: state => state.searchData,
      searchHasFocus: state => state.searchInFocus
    }),
    refHeight: function () {
      return this.referenceHeight
    }
  },
  methods: {
    ...mapMutations([
      'SET_SEARCH_IN_FOCUS'
    ]),
    ...mapActions([
      'setSelectedNode'
    ]),
    /**
     * When search in focus is true a part of the navigator becomes hidden
     */
    searchInFocus (bool) {
      this.SET_SEARCH_IN_FOCUS(bool)
    },
    focusSearch () {
      this.SET_SEARCH_IN_FOCUS(true)
      this.$nextTick(function () {
        if (typeof this.$refs.search !== 'undefined') {
          if (typeof this.$refs.search.clear === 'function') {
            this.$refs.search.clear()
          }
          if (typeof this.$refs.search.focus === 'function') {
            this.$refs.search.focus()
          }
        }
      })
    },
    selectedSearch (selectedNode, done) {
      if (selectedNode !== Object(selectedNode)) {
        throw Error('selectedSearch: First argument is not an object.')
      }
      if (typeof selectedNode.id !== 'string' && typeof selectedNode.id !== 'number') {
        throw TypeError('The selected node must have a string or number id.')
      }
      this.setSelectedNode(selectedNode.id)

      if (typeof this.$refs.search !== 'undefined' && typeof this.$refs.search.blur === 'function') {
        this.$refs.search.blur()
      }
      done = true
    }
  },
  /**
   * Register the focus search event
   */
  created: function () {
    this.$root.$on('focus-search', this.focusSearch)
  }
}
</script>

<style>
</style>
