<template>
  <q-carousel
    quick-nav
    arrows
    class="text-white"
    style="width:100vw"
    ref="tileCarousel"
    @slide-trigger="slideTrigger"
  >
  <q-btn
    slot="quick-nav"
    slot-scope="props"
    color="white"
    flat
    dense
    :label="`${props.slide + 1}`"
    @click="props.goToSlide()"
    :class="{inactive: !props.current}"
  />
    <q-carousel-slide v-for="(slides, index) in computeSlideTiles" :key="index">
      <!-- Inline css for width and height -->
      <div class="row no-wrap" :style="{ height: 100 / slides.rows.length + '%'}" v-for="(r, i) in slides.rows" :key="i">
        <div class="col no-wrap" v-for="(c, idx) in r" :key="idx">
          <q-card
            :id="slides.tiles[c].id"
            @click.native="selectTile"
            style="height:100%;"
            v-if="slides.tiles[c]"
            square
          >
            <q-card-title>
              {{slides.tiles[c].name}}
            </q-card-title>
          </q-card>
        </div>
      </div>
    </q-carousel-slide>
  </q-carousel>
</template>

<script>
import { mapMutations, mapState, mapActions } from 'vuex'
export default {
  name: 'ADNTileSlider',
  props: {
    slideTiles: Array
  },
  data () {
    return {
    }
  },
  computed: {
    ...mapState({
      nodePageNumbers: state => state.navData.nodePageNumbers
    }),
    /**
     * This mehod computes the tile grid
     */
    computeSlideTiles: function () {
      let retval = {},
        numSlideTiles = this.slideTiles ? this.slideTiles.length : 0,
        numSlides = Math.ceil(numSlideTiles / 9)

      if (numSlides > 0) {
        for (let idx = 1; idx <= numSlides; idx++) {
          retval[idx] = {}
          retval[idx]['tiles'] = []
          for (let i = 9; i > 0; i--) {
            let tileIndex = (idx * 9) - i
            if (this.slideTiles[tileIndex]) {
              retval[idx]['tiles'].push(this.slideTiles[tileIndex])
            }
          }

          let c = retval[idx]['tiles'].length
          /*
            possible tile setup  1-4    5-6     7-9
                                [x|x] [x|x|x] [x|x|x]
                                [x|x] [x|x|x] [x|x|x]
                                              [x|x|x]
          */
          if (c > 0 && c < 5) {
            retval[idx]['rows'] = [[0, 1], [2, 3]]
          } else if (c > 4 && c < 7) {
            retval[idx]['rows'] = [[0, 1, 2], [3, 4, 5]]
          } else if (c > 6 && c < 10) {
            retval[idx]['rows'] = [[0, 1, 2], [3, 4, 5], [6, 7, 8]]
          }
        }
      }
      return retval
    }
  },
  methods: {
    ...mapMutations([
      'SET_NODE_PAGE_NUMBER'
    ]),
    ...mapActions([
      'setSelectedNode'
    ]),
    /**
     * Method to set page number
     */
    slideTrigger (oldIndex, newIndex, direction) {
      if (oldIndex !== newIndex) {
        this.SET_NODE_PAGE_NUMBER({key: this.$store.state.selectedNode.id, value: newIndex})
      }
    },
    /**
     * Method to select tile on click
     */
    selectTile (event) {
      if (Object(event.currentTarget) !== event.currentTarget || arguments.length < 1) {
        throw Error('selectTile: Wrong arguments.')
      }

      if (typeof event.currentTarget.id !== 'string' && typeof event.currentTarget.id !== 'number') {
        throw TypeError('The tile must have a string or number id.')
      }
      this.setSelectedNode(event.currentTarget.id)
    }
  },
  updated: function () {
    /**
     * Method to make sure the correct page number (last) are shown
     */
    this.$nextTick(function () {
      if (this.nodePageNumbers.has(this.$store.state.selectedNode.id)) {
        this.$refs.tileCarousel.goToSlide(this.nodePageNumbers.get(this.$store.state.selectedNode.id))
      } else this.$refs.tileCarousel.goToSlide(0)
    })
  }
}
</script>

<style>
</style>
